<div class="container-fluid vw-100 vh-100 p-4">
  <form class="w-75 mx-auto" #form="ngForm" (ngSubmit)="onSubmitted()">
    <!-- email -->
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        class="form-control"
        type="email"
        id="email"
        placeholder="e.g.john@example.com"
        spellcheck="false"
        name="email"
        [(ngModel)]="user.email"
        #email="ngModel"
        aria-describedby="emailHelp"
        required
        email
      />
      <div class="p-1" style="height: 1.5rem">
        @if ( email?.errors?.['required'] ) {
        <small id="emailHelp" class="form-text text-danger fst-italic fw-medium"
          >Email field is required!</small
        >
        } @if ( email?.touched && email?.errors?.['email'] ) {
        <small id="emailHelp" class="form-text text-danger fst-italic fw-medium"
          >Invalid Email format!</small
        >
        }
      </div>
    </div>

    <!-- username -->
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        class="form-control"
        type="text"
        id="username"
        placeholder="e.g.joe123"
        spellcheck="false"
        name="username"
        [(ngModel)]="user.username"
        #username="ngModel"
        aria-describedby="usernameHelp"
        required
        pattern="^[a-z][a-z0-9]*$"
      />
      <div class="p-1" style="height: 1.5rem">
        @if ( username?.errors?.['required'] ) {
        <small
          id="usernameHelp"
          class="form-text text-danger fst-italic fw-medium"
          >Username field is required!</small
        >
        } @if ( username?.touched && username?.errors?.['pattern'] ) {
        <small id="emailHelp" class="form-text text-danger fst-italic fw-medium"
          >Username must start with a letter and only contain lowercase letters
          and numbers!</small
        >
        }
      </div>
    </div>

    <!-- password  -->
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        class="form-control"
        type="password"
        id="password"
        placeholder="**********"
        spellcheck="false"
        name="password"
        [(ngModel)]="user.password"
        #password="ngModel"
        aria-describedby="passwordHelp"
        required
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]+$"
        minlength="6"
      />
      <div class="p-1" style="height: 1.5rem">
        @if ( password?.errors?.['required'] ) {
        <small
          id="passwordHelp"
          class="form-text text-danger fst-italic fw-medium"
          >Password field is required!</small
        >
        } @if ( password?.touched && (password?.errors?.['minlength'] ||
        password?.errors?.['pattern']) ) {
        <small
          id="passwordHelp"
          class="form-text text-danger fst-italic fw-medium"
          >Password must contains min 6 characters long, at least one lowercase
          letter, one capital letter, one number, and one special
          character!</small
        >
        }
      </div>
    </div>

    <!-- role  -->
    <div class="mb-3">
      <label for="roles" class="form-label">User role</label>

      <select
        class="form-select"
        id="roles"
        name="roles"
        multiple
        aria-label="Multiple select example"
        [(ngModel)]="user.roles"
        #roles="ngModel"
        required
      >
        @for (role of rolesOptions; track role) {
        <option [value]="role.toLocaleLowerCase()">{{ role }}</option>
        }
      </select>
      <div class="p-1" style="height: 1.5rem">
        @if ( roles?.errors?.['required'] ) {
        <small id="rolesHelp" class="form-text text-danger fst-italic fw-medium"
          >at least one role must be selected!</small
        >
        }
      </div>
    </div>

    <!-- accesslevel  -->
    <div class="mb-3">
      <p class="mb-2">Access level</p>
      <div class="d-flex gap-1">
        @for (level of accesslevelOptions; track level; let index = $index) {
        <input
          type="checkbox"
          autocomplete="off"
          class="btn-check"
          id="{{ level }}"
          name="{{ level.toLocaleLowerCase() }}"
          [(ngModel)]="user.accesslevel[index]"
          required
        />
        <label class="btn btn-outline-primary" for="{{ level }}">{{
          level
        }}</label>
        }
      </div>
      <div class="p-1" style="height: 1.5rem">
        @if (!isAtLeastOneAccessLevelSelected()) {
        <small id="rolesHelp" class="form-text text-danger fst-italic fw-medium"
          >at least one access level must be selected!</small
        >
        }
      </div>
    </div>

    <!-- submit -->
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      Send
    </button>
  </form>
</div>
